@import "foreman_theme_satellite/bastion.scss";
@import "foreman_theme_satellite/application_colors";
@import "foreman_theme_satellite/login.scss";
@import "foreman_theme_satellite/external_logout.scss";
@import "foreman_theme_satellite/patternfly_and_overrides.scss";
@import "foreman_theme_satellite/topbar.scss";
@import "foreman_theme_satellite/wizard.scss";
@import "foreman_theme_satellite/provisioning_templates.scss";

.avatar{
  &.small{
    margin: -5px 5px 0 0;
  }
}

#rails-app-content {
  --header-height: 70px;
  top: var(--header-height);
  height: calc(100% - var(--header-height));

  &.eol-banner {
    --banner-height: calc(
      2 * var(--pf-global--spacer--xs) +
        2 * (var(--pf-global--LineHeight--md) * var(--pf-global--FontSize--sm))
    ); // banner height is line height and a small padding
    top: calc(
      var(--header-height) + var(--banner-height)
    );

    height: calc(100% - var(--header-height) - var(--banner-height));
  }
}
