.satellite-theme {
  #foreman-page .pf-v5-c-masthead {
    .pf-v5-c-masthead__brand {
      height: inherit;
    }

    .navbar-brand-txt {
      display: none !important;
    }
    background: var(--pf-v5-c-page__header--BackgroundColor);
    background-size: cover;
  }
}
